*{
    margin: 0 auto;
    padding: 0;
    /* font-family: 'Oleo Script', cursive; */
    font-family: 'Space Grotesk', sans-serif;


}
body{
    /* background-color: #2549D3; */
    background-color: #FAFAFA;
}
main{
    margin-right: 30px;
    margin-left: 30px;
}
nav{
    width: 100%;
    height: 70px;
    overflow: hidden;
    top: 0;
    position: fixed;    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    /* background-color: #333; */
}
.navbar{
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #333;
    
}
.logo{
    font-size: 25px;
    font-family: 'Oleo Script', cursive;

}

.navbar ul{
    display: flex;
    
}
.navbar ul li{
    list-style: none;
    margin-right: 25px;
}
.navbar ul li a.active{
    color: #0F298B;
    font-weight: 800;
}
.navbar ul li a{
    text-decoration: none;
    color: #333;
}
.navbar ul li a:hover{
    color: #0F298B;
    font-weight: 800;
    transition: .5s ease;
}
.btn.get-started{
    width: 120px;
    height: 40px;
    background-color: #2549D3;
    color: #FAFAFA;
    border-color: #2549D3;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
}
button.btn.get-started:hover{
    background-color: #FAFAFA;
    color: #2549D3;
    transition: .2s ease-in-out;
}
.hero-section{
    height: 80vh;
    padding-top: 100px;
    
}
.hero-section .inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hero-section .inner .right-section{
    height: 50%;
}
.hero-section .inner h2{
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #0F298B;
}
.hero-section .inner p{
    padding-top: 10px;
    font-size: 20px;
    letter-spacing: 1px;
}

.btns{
    margin-top: 30px;
    display: flex;
    align-items: start;
    justify-content: start;
    width: 50%;
}
.btns button.learn{
    width: 120px;
    height: 35px;
    background-color: #2549D3;
    color: #FAFAFA;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;


}
button.learn:hover{
    background-color: #FAFAFA;
    color: #2549D3;
    transition: .2s ease-in-out;

}

span i.play{
    color: #2549D3;
}
span i.play:hover{
    color: #0F298B;
    transition: .2s ease;
}

/* search section */
section.search form{
    background-color: #fff;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin-bottom: 100px;
    
}
.location h3{
    color: #2549D3;
}
.property h3{
    color: #2549D3;
}
.price h3{
    color: #2549D3;
}
.location .form-input{
    border: none;
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}
.property .form-input{
    border: none;
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    
}
.price .form-input{
    border: none;
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}
.btn-search{
    width: 120px;
    height: 35px;
    background-color: #2549D3;
    color: #FAFAFA;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
}
button.btn-search:hover{
    background-color: #FAFAFA;
    color: #2549D3;
    transition: .2s ease-in-out;
}
/* end search section */


/* how our products section */

.products{
    padding: 30px;
}
.our-products{
    padding-left: 35px;
    font-size: 35px;
    color: #0F298B;
    margin-bottom: 20px;
}
.how-it-works{
    font-size: 35px;
    color: #0F298B;
    margin-bottom: 10px;
    text-align: center;
}
.works{
    text-align: center;
    font-size: 20px;
    color: #333;
    margin-bottom: 30px;
}

.products-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}
.product{
    background-color: #fff;
    width: 50%;
    height: auto;
    margin-right: 100px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 6px;
    text-align: center;
    padding: 30px;
}

/* end our products section */


/* start choose section */

.choose{
    width: 100%;
    height: auto;
    min-height: 80vh;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
ul.desc-ul{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    list-style: none;
}
li.desc-li{
    display: flex;
    align-items: center;
    gap: 10px;
}
span.icon{
    color: #0F298B;
}

/* end choose section */


/* start featured section */
.featured{
    width: 100%;
    height: auto;
    min-height: 80vh;
}
.cards{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.card{
    background-color: #fff;
    border-radius: 0 80px 0 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

}
.card-desc .details{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
/* end featured section  */

/* start testimonials card */
.testimonials {
    width: 100%;
    height: 70vh;
    padding: 10px;
    margin-bottom: 30px;
    
}
.testimonials-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* .testimonials-cards .test-card{
    height: 200px;
} */
.test-card{
    width: 300px;
    height: auto;
    background-color: #fff;
    text-align: start;
    border-radius: 6px;
    padding: 20px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

}
.view{
    margin-top: 30px;
    float: right;
    width: 120px;
    height: 40px;
    background-color: #2549D3;
    color: #FAFAFA;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
}
button.view:hover{
    background-color: #FAFAFA;
    color: #2549D3;
    transition: .2s ease-in-out;
}
/* end testimonials card  */


/* start footer */
.footer{
    background-color: #0F298B;
    color: #FAFAFA;

}
.information{
    width: 70%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info-col{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    
}
.info-col.desc{
    line-height: 1.2em;
}
.info-col.desc .logo{
    margin-bottom: 20px;

}

/* end footer */


/* responsiveness */


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-links {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}


/* end responsiveness */