*{
    margin: 0 auto;
    padding: 0;


}
body{
    /* background-color: blue; */
}
main{
    margin-right: 30px;
    margin-left: 30px;
}
nav{
    width: 100%;
    height: 70px;
    /* background-color: #333; */
}
.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
p.logo{
    font-family: 'Oreo Script', cursive !important;
}

.navbar ul{
    display: flex;
    
}
.navbar ul li{
    list-style: none;
    margin-right: 25px;
}
.btn.get-started{
    width: 120px;
    height: 40px;
    background-color: blue;
    color: white;
    border-color: blue;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.hero-section{
    height: 80vh;
    
}
.hero-section .inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hero-section .inner .right-section{
    height: 50%;
}
.hero-section .inner h2{
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 500;
    color: blue;
}
.hero-section .inner p{
    padding-top: 10px;
    font-size: 20px;
    letter-spacing: 2px;
}
.btns{
    margin-top: 30px;
    display: flex;
    align-items: start;
    justify-content: start;
    width: 50%;
}
.btns button.learn{
    width: 120px;
    height: 35px;
    background-color: blue;
    color: white;
    border-color: blue;
    font-size: 16px;
    border-radius: 5px;
}