*{
    margin: 0 auto;
    padding: 0;


}
body{
    /* background-color: #2549D3; */
    background-color: #FAFAFA;
}
main{
    margin-right: 30px;
    margin-left: 30px;
}
nav{
    width: 100%;
    height: 70px;
    overflow: hidden;
    top: 0;
    position: fixed;
    /* background-color: #333; */
}
.navbar{
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
p.logo{
    font-family: 'Oreo Script', cursive !important;
}

.navbar ul{
    display: flex;
    
}
.navbar ul li{
    list-style: none;
    margin-right: 25px;
}
.btn.get-started{
    width: 120px;
    height: 40px;
    background-color: #2549D3;
    color: #FAFAFA;
    border-color: #2549D3;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
button.btn.get-started:hover{
    background-color: #FAFAFA;
    color: #2549D3;
    transition: .2s ease-in-out;
}
.hero-section{
    height: 80vh;
    padding-top: 100px;
    
}
.hero-section .inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hero-section .inner .right-section{
    height: 50%;
}
.hero-section .inner h2{
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #2549D3;
}
.hero-section .inner p{
    padding-top: 10px;
    font-size: 20px;
    letter-spacing: 2px;
}
.btns{
    margin-top: 30px;
    display: flex;
    align-items: start;
    justify-content: start;
    width: 50%;
}
.btns button.learn{
    width: 120px;
    height: 35px;
    background-color: #2549D3;
    color: #FAFAFA;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;


}
button.learn:hover{
    background-color: #FAFAFA;
    color: #2549D3;
    transition: .2s ease-in-out;

}

span i.play{
    color: #2549D3;
}

/* search section */
section.search{
    background-color: #fff;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin-bottom: 100px;
}
.location h3{
    color: #2549D3;
}
.property h3{
    color: #2549D3;
}
.price h3{
    color: #2549D3;
}
.location .form-input{
    border: none;
    margin-top: 10px;
    font-size: 16px;
}
.property .form-input{
    border: none;
    margin-top: 10px;
    font-size: 16px;
}
.price .form-input{
    border: none;
    margin-top: 10px;
    font-size: 16px;
}
.btn-search{
    width: 120px;
    height: 35px;
    background-color: #2549D3;
    color: #FAFAFA;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
button.btn-search:hover{
    background-color: #FAFAFA;
    color: #2549D3;
    transition: .2s ease-in-out;
}
/* end search section */